<div class="footer bg-light">
    <div class="container">
        <ul>
            <li>Information</li>
            <li>Blog</li>
            <li>Products</li>
            <li>Profile</li>
            <li>Help</li>
        </ul>
        <p>©2021 Module 2</p>
    </div>
</div>