<!DOCTYPE html>
<html>
<head>
  <title>Module2</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  {{>navbar }}

  <main class="container pt-4">
    {{{ body }}}
  </main>

  {{>footer }}
  <script src="/js/index.js"></script>
  <script src="/js/google-service.js"></script>
  </script>
  <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
  <script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS }}&callback=initMap&libraries=&v=weekly&libraries=places&callback=initMap" ></script>            
</script>
</body>
</html>
