ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button, .button {
    background-color: #1a1a1a;
    color: #fafafa;
    border: solid 2px #1a1a1a;
    padding: 10px;
    text-align: center;
}

a {
  color: #1a1a1a;
}

a:hover {
  text-decoration: none;
  color: #ffbdbd;
}

/* Login Page and Register Page */

.login-content {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.login-content div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 80px;
}

.login-background {
    background-image: url("../loginImg.jpg");
    background-size: cover;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form input {
    border: none;
    border-bottom: solid 3px;
}

.login-form button {
    font-size: 22px;
}

.login-form input,
.login-form button {
    padding: 20px;
    margin: 20px 0;
}

.login-content span.invalid {
    padding: 10px 20px;
    background-color: #ffbdbd;
}

/* Navbar */
nav img {
  max-width: 30px;
  border-radius: 50%;
}

/* Footer */
.footer {
  margin-top: 40px;
  padding: 60px;
  text-align: center;
  font-size: 14px;
}

.footer ul {
  display: flex;
  justify-content: center;
}

.footer ul li {
  margin: 0px 5px 10px 5px ;
}
/* Profile Page */
.profile header section {
    display: grid;
    grid-template-columns: 15% 80%;
    grid-gap: 5%;
    margin-bottom: 20px;
}

.profile header img {
    border-radius: 50%;
    border: solid 3px;
    max-width: 100%;
    height: auto;
}

.profile header section div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile header section div ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 20px;
}

.profile header section div ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#updateprofile:target {
  opacity: 1;
  pointer-events: auto;
  z-index: 999;
}

.update-profile {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events:none;
  transition: all 1s;
}

.update-profile form {
    background-color: #fafafa;
    width: 800px;
    padding: 40px;
    margin: 30px auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.update-profile form label {
    margin: 20px 0 5px;
    font-weight: bold;
    ;
}

.update-profile form input,
.update-profile form textarea {
    padding: 10px;
    border: none;
    border-bottom: solid 2px;
}

/* Product Listing Page */
.product-title {
  text-align: center;
  padding: 60px 0;
}

.product-title h1 {
  font-size: 60px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.product-title p {
  color: #888888;
  text-transform: uppercase;
  font-weight: 300;
}

.product-content {
  display: flex;
}

.filters {
  padding-right: 25px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.product {
  position: relative;
}

.product form.add-to-wishlist {
  position: absolute;
  top: 0;
}

.product-img {
  width: 100%;
  border-bottom: solid 2px;
}

.product:hover .product-img {
  border-bottom: solid 2px #ffbdbd;
}

p.product-cat {
  font-size: 14px;
  margin: 5px 0 2px;
  color: #888888;
}

.product-info h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
}

.product p.price {
  font-size: 14px;
  color: #888888;
}

/* Product Detail Page */
.product-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.product-detail img {
  max-width: 100%;
  height: auto;
}

/* Set the size of the div element that contains the map */

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}