<div class="profile">
    <header>
        <section>
            <img src="{{ user.avatar }}">
            <div>
                <h2>{{user.name}}</h2>
                <ul>
                    <li>XX Subidos</li>
                    <li>XX Wishlist</li>
                    <li>XX IDK</li>
                </ul>
            </div>
        </section>
        <div>
           Description 
        </div>
    </header>
    <div>

    </div>
</div>